@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    --font: 'Poppins', sans-serif;
    --background-color: #EBECEE;
    --white: #FFFFFF;
    --yellow: #EB9B00;
    --blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%); 
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    font-weight: 400;
}

/* NAVBAR */

.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__title, .container__title__bold {
    display: none;
}

.container__image {
    padding: .7em;
}

.header__burger-menu {
    width: 24px;
    height: 24px;
    background-image: url("../images/menu.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
}

.container__btn:checked~.menu-list {
    display: block;
}

.container__btn {
    display: none;
}

.menu-list__title, .menu-list__item {
    padding: 1em;
    background-color: var(--white);
}

.menu-list__title {
    color: var(--yellow);
    font-weight: 700;
}

.menu-list__link {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

/* BANNER */

.banner {
    background: var(--blue-gradient);
    text-align: center;
    padding: 2.5em;
    color: var(--white);
}

.banner__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: .5em;
}

.banner__text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.5em;
}

.banner__input {
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 24px;
    color: var(--white);
    padding: 1em;
    width: 100%;
}

.banner__input::placeholder {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    background: url("../images/search.png") no-repeat;
    background-position: 1em;
}

/*  BOOKS CAROUSEL*/
.carousel__title {
    text-align: center;
    color: var(--yellow);
    background-color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 1em 0 .5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

/* CARD */

.card {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 20px;
    margin: .7em;
    padding: 1em;
}

.card-description__subtitle {
    color: var(--yellow);
    font-size: 16px;
    font-weight: bold;
}

.card-description__title {
    color: #002F52;
    font-size: 18px;
    font-weight: bold;
    margin: 1em 0;
}

.card-description__text {
    margin-right: 1em;
    margin-bottom: 2em;
}

.card-picture {
    align-items: center;
}

.card-picture img {
    width: 100%;
    margin-bottom: 1em;
}

.card-picture a {
    align-items: center;
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--white);
    font-size: 16px;
    padding: .3em 1em;
    text-align: center;
    margin-left: .7em;
    cursor: pointer;
}

/* TOPICS */

.topics {
    background: var(--blue-gradient);
    text-align: center;
    padding-top: 1em;
}

.topics__title {
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 2em .5em;
} 

.topics__link {
    text-decoration: none;
    color: var(--white);
    background-color: var(--yellow);
    padding: 1em;
    font-size: 14px;
    font-weight: bold;
}

/* CONTACT */

.contact {
    padding: 2em;
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contact__title {
    font-weight: bold;
    font-size: 18px;
}

.contact__text {
    margin: .5em 0 1.5em 0;
}

.contact__input {
    background-color: transparent;
    border: 1px solid #002F52;
    border-radius: 24px;
    color: #002F52;
    padding: 1em;
    width: 90%;
}

.contact__input::placeholder {
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    color: #002F52;
    text-align: center;
    background: url("../images/email.png") no-repeat;
    background-position: 1em;
}

/* FOOTER */

.footer {
    text-align: center;
    border-top: solid 1px #002F52;
}

.footer__title {
    color: #002F52;
    padding: 1em;
}

.options {
    display: none;
}

/* RESPONSIVE */

@media screen and (min-width: 1024px) {
    .container__title, .container__title__bold {
        font-size: 30px;
        display: inline-block;
    }

    .container__title__bold {
        font-weight: bold;
    }

    .container__image__hide {
        display: none;
    }

    .options {
        display: flex;
    }

    .options__item {
        padding: 0 2em;
        text-transform: uppercase;
    }

    .options__link {
        text-decoration: none;
        color: #002F52;
    }

    .header__burger-menu {
        display: none;
    }

    .options__btn:checked~.menu-list {
        display: block;
    }

    .options__btn {
        display: none;
    }

    .banner {
        padding: 6em 0;
    }

    .banner__title {
        font-size: 36px;
    }

    .banner__input {
        width: 50%;
    }

    .carousel__title {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 70%;
    }

    .swiper-slide img {
        margin-right: 50em;
    }
 
    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        margin: 3em 15em;
        padding: 2em;
    }

    .card-description__subtitle {
        font-size: 24px;
    }

    .card-description__title {
        font-size: 32px;
    }

    .card-description__text {
        font-size: 24px;
    }

    .card-picture {
        width: 150%;
    } 

    .card-picture a {
       display: none;
    }

    .topics {
        padding: 2em;
    }

    .topics__title {
        font-size: 24px;
    }

    .topics__item {
        padding: .5em 1em;
    }

    .topics__link {
        font-size: 24px;
    }

    .contact {
        display: flex;
        padding: 3em 5em;
    }

    .contact__title{
        font-size: 24px;
    }
    .contact input {
        margin-left: 5em;
        width: 50%;
        height: 50%;
    }
}